:root {
    --primary: #FCA912;
    --secondary: #2C8595;
    --light-tint: #FAFAF9;
    --dark-tint: #57514D;
    --dark: #1D1D1D;
    --dark_primary: #2C2925;
    --light_primary: #FFFCF6;

    --primary_-4: #1E1305;
    --primary_-3: #3F2A05;
    --primary_-2: #7E5509;
    --primary_-1: #BD7F0E;
    --primary_1: #FDBA41;
    --primary_2: #FDCB71;
    --primary_3: #FEDDA0;
    --primary_4: #FEEED0;

    --primary_a1: rgba(252, 169, 18, 0.1);
    --primary_a2: rgba(252, 169, 18, 0.2);
    --primary_a3: rgba(252, 169, 18, 0.3);
    --primary_a4: rgba(252, 169, 18, 0.4);
    --primary_a5: rgba(252, 169, 18, 0.5);
    --primary_a6: rgba(252, 169, 18, 0.6);
    --primary_a7: rgba(252, 169, 18, 0.7);
    --primary_a8: rgba(252, 169, 18, 0.8);
    --primary_a9: rgba(252, 169, 18, 0.9);

    --secondary_-3: #0B2125;
    --secondary_-2: #16434B;
    --secondary_-1: #216470;
    --secondary_1: #569DAA;
    --secondary_2: #80B6BF;
    --secondary_3: #ABCED5;
    --secondary_4: #D5E7EA;

    /* Negatives for shades */
    --gray_-5: rgb(0, 0, 0);
    --gray_-4: rgb(26, 26, 26);
    --gray_-3: rgb(51, 51, 51);
    --gray_-2: rgb(77, 77, 77);
    --gray_-1: rgb(102, 102, 102);
    --gray: rgb(128, 128, 128);
    --gray_1: rgb(153, 153, 153);
    --gray_2: rgb(179, 179, 179);
    --gray_3: rgb(204, 204, 204);
    --gray_4: rgb(230, 230, 230);
    --gray_5: rgb(242, 242, 242);

    --gray_a1: rgba(128, 128, 128, 0.1);
    --gray_a2: rgba(128, 128, 128, 0.2);
    --gray_a3: rgba(128, 128, 128, 0.3);
    --gray_a4: rgba(128, 128, 128, 0.4);
    --gray_a5: rgba(128, 128, 128, 0.5);
    --gray_a6: rgba(128, 128, 128, 0.6);
    --gray_a7: rgba(128, 128, 128, 0.7);
    --gray_a8: rgba(128, 128, 128, 0.8);
    --gray_a9: rgba(128, 128, 128, 0.9);

    --drop_shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0.5em 0 0.125em;
    color: var(--dark_primary);
}

p {
    margin: 0.25rem 0;
    color: var(--dark_primary);
}

body {
    padding: 0;
    margin: 0;
}

.main-body {
    margin: 1em 2em 0 2em;
}

