.modal-content {
    max-width: 25em;

    border-radius: 0.35em;
    overflow: hidden;
    background: transparent;
}

.modal-title { /* Direct parent of content of header by Bootstrap */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.title_add-lead {
    margin: 0;
}

.modal-header {
    background: var(--light_primary);
}

.modal-body {
    background: transparent;
}

#modal-body_add {
    padding: 0;
    max-height: 50vh;

    border-bottom-left-radius: var(--round-corner);
    border-bottom-right-radius: var(--round-corner);
}

.list-group-item-action {
    margin: 0;

    /*background: rgba(var(--light_primary), 0.9);*/
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(2px);

    /*color: red;*/
}

.list-group-item-action:active {
    color: #fff;
    background-color: #1a1a1a;
    border-color: #1a1a1a
}

