textarea :focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
}

input :focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
}

textarea {
  outline-color: #719ECE;
}
input {
  outline-color: #719ECE;
}

input[type=text], textarea {
    border-style: inset;
    border-width: 2px;
}

#text-area_comment {
    border: none;
    padding: 0.5em 1em;
    background-color: rgba(242, 242, 242, 0.1);
}
