#div_options {
    display: flex;
    position: absolute;
    top: 6em;
    left: 2.5%;
    height: auto;
    border: 1px gray solid;
    z-index: 100;
}

#panel_options{
    display: flex;
    flex-direction: column;
    padding: 0 0.5em;
    border: 1px red solid;
}

#panel_options > * {
    margin: 0.125em 0;
}

.switch_pair {
    display: flex;
    align-items: center;
    border: 1px green solid;
}

#graph_fix_y {
    margin-left: 1em;
}

.button {
    font-size: 1em; /* changes icon size */
    color: var(--primary);
    background-color: white;
    padding: 0.35em 0.5em;
    cursor: pointer;
    border-radius: 0.5em;
    border-color: var(--primary_1);
    border-style: solid;
    box-shadow: var(--drop_shadow);
}

.button:hover {
    color: white;
    background-color: var(--primary_2);
    border-color: transparent;
}

.button:active{
    color: white;
    background-color: var(--primary);
    border-color: transparent;
}
