.btn {
    height: 2em;
    width: 2em;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center; /* Centers the child icon */
    justify-content: center;

    /*font-size: 0.75em; !* changes icon size *!*/
    border-radius: 1em;
    background-color: transparent;
}

.btn:hover {
    background-color: var(--primary_a3);
}

.btn:active {
    background-color: var(--primary_a5);
}

.opaque_1 {
    opacity: 1;
}

.opaque_0 {
    opacity: 0;
}

.btn_options_rotate_start {
    transform: rotate(0deg);
    color: var(--gray_a8);
    transition: var(--ease-all);
}

.btn_options_rotate_end {
    transform: rotate(90deg);
    color: var(--btn_dark);
    transition: var(--ease-all);
}

.div_options_expand-width {
    width: 30vw;
}

.div_options_collapse-width {
    width: 0;
}


#div_options-bound-box {
    position: fixed;
    left: 5%;
    top: 6%;
    display: flex;
    z-index: 10;
    border-radius: 0.35em;
}

#btn_options {
    height: 2em;
    width: 2em;

    font-size: 1.25em;
    border-radius: 1em;
    border-color: transparent;
    margin-right: 0.5em;
    align-self: center;
}

#div_options {
    max-width: 30em;

    display: flex;
    flex-direction: column;
    font-size: 0.75em;
    transition: var(--ease-all);
    border-radius: 0.35em;
    background: rgba(var(--light_primary), 0.9);
    -webkit-backdrop-filter: blur(15px);
    /*border: 1px green solid;*/
}

#div_options > * {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.2em;
    color: var(--primary_-4);
    width: 100%;
    margin-bottom: 0.5em;
}

#div_options:last-child {
    margin-bottom: 0;
}

.my_dropdown .VirtualizedSelectOption {
    background: var(--primary_a1);
    -webkit-backdrop-filter: blur(15px);
}

.my_dropdown .VirtualizedSelectFocusedOption {
    background: var(--primary_a4);
    -webkit-backdrop-filter: blur(15px);
}

.Select * {
    background: rgba(var(--light_primary), 0.3);
}


.div_fig-options {
    position: absolute;
    left: 5%;
    height: auto;
    width: 60%;
    padding: 0.125em 0.25em;
    z-index: 5;

    display: flex;
    flex-direction: row;

    opacity: 0;
    transition: var(--ease-all);
}

.div_graph:hover .div_fig-options {
    opacity: 1;
}


.btn_fig-options {
    border-radius: 0.5em;
}


#div_add {
    width: 90%;

    transition: var(--ease-all);
}

.modal-content {
    max-width: 25em;
}

.modal-title { /* Direct parent of content of header by Bootstrap */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.title_add-lead {
    margin: 0;
}

#btn_modal-close {
    width: 1em;
    height: 1em;
    margin-left: auto;
}

#btn_modal-close:hover {
    color: var(--gray_-4);
    background: transparent;
}

#btn_modal-close:active {
    color: var(--gray_-5);
    background: transparent;
}

#modal-body_add {
    padding: 0;
    max-height: 50vh;
}

.list-group-item {
    margin: 0;
}

.list-group-item-action:active {
    color: #fff;
    background-color: #1a1a1a;
    border-color: #1a1a1a
}
