.opaque_1 {
    opacity: 1;
}

.opaque_0 {
    opacity: 0;
}

.btn_options_rotate_start {
    transform: rotate(0deg);
    color: var(--gray_a8);
    transition: var(--ease-all);
}

.btn_options_rotate_end {
    transform: rotate(90deg);
    color: var(--btn_dark);
    transition: var(--ease-all);
}

.div_options_expand-width {
    width: 30vw;
}

.div_options_collapse-width {
    width: 0;
}


#div_options-bound-box {
    position: fixed;
    left: 5%;
    top: 6%;
    display: flex;
    z-index: 10;
    border-radius: var(--round-corner);
}

#div_options {
    max-width: 30em;

    display: flex;
    flex-direction: column;
    font-size: 0.75em;
    transition: var(--ease-all);
    border-radius: 0.35em;
    background: rgba(var(--light_primary), 0.9);
    -webkit-backdrop-filter: blur(15px);
    /*border: 1px green solid;*/
}

#div_options > * {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.2em;
    color: var(--primary_-4);
    width: 100%;
    margin-bottom: 0.5em;
}

#div_options:last-child {
    margin-bottom: 0;
}


.div_fig-options {
    position: absolute;
    left: 5%;
    height: auto;
    width: 60%;
    padding: 0.125em 0.25em;
    z-index: 5;

    display: flex;
    flex-direction: row;

    opacity: 0;
    transition: var(--ease-all);
}

.div_graph:hover .div_fig-options {
    opacity: 1;
}


#div_add {
    width: 90%;

    transition: var(--ease-all);
}


#div_plot-controls {
    display: flex;
    flex-direction: row;
    margin: 0 auto 0.25em;
    /*border: 1px solid red;*/
}
