.header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 2em;
    line-height: 2em;
    font-size: 1.25em;
    padding: 0.5em 2em 0.5em 2em;
    -webkit-backdrop-filter: blur(10px);
    background: rgba(var(--light_primary), 0.9);
    box-shadow: var(--drop-shadow_s);
    /*border: 1px red solid;*/
    z-index: 10;
}

.header .header_title {
    font-size: 1.25em;
    color: var(--primary_-4);
}
