#div_plots {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_lead {
    height: 12em;  /* Having percentages heights all the way down causes plotly graph to collapse to 0 size in update for unknown reason */
    width: 100%;
    /*margin: 0 auto 1em;*/

    display: flex;
    flex-direction: row;
    flex-basis: auto;

    /*box-shadow: var(--bottom-border);*/
    transition: var(--ease-all);
    border-top: var(--border);
}

#div_plots > :first-child {
    border-top: none;
}

#div_plots > :last-child {
    border-bottom: none;
}

.div_lead > div {
    height: 100%;
    /*margin: 0 1em 0.25em;*/

    /*border: 1px solid red;*/
}

/*.div_lead > :first-child {*/
/*    margin: 0.25em 1em 0.25em;*/
/*}*/

/*.div_lead > :last-child {*/
/*    !*margin: 0 1em 0;*!*/
/*}*/

.div_lead-name {
    width: 5em;
    /*border-right: var(--border);*/
}

.lead-name {
    margin: 0.25em;
}

.div_graph-thumbnail {
    width: 100%;
    height: 7.25em;

    margin-bottom: 0.5em;
    overflow: hidden;

    /*box-shadow: var(--drop-shadow_m);*/
    /*border: 1px green solid;*/
}

.channel-graph-thumbnail {
    height: 18em;
    /* Hack: Carefully crafted values so that the plot that made global range possible disappears */
    margin-top: -11em;
    margin-left: -0.5em;
    margin-right: -8.5em;
    /*border: 1px green solid;*/
}

.div_graph {
    flex: 1;
    position: relative;
}

.channel-graph {
    width: 100%;
    height: 100%;
}
