#div_plots {
    height: 85vh;
    padding: 0 2em;
    overflow-y: auto;
    overflow-x: auto;

    flex-grow: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: var(--ease-all);
}

#div_plots.class>* {
    transition: var(--ease-all);
}

#div_plots > * {
    border-top: var(--border);
    /*border: 1px red solid;*/
}

#div_plots > :first-child {
    border-top: none;
}

#div_plots > :last-child {
    border-bottom: none;
}


.div_plots_expand-width {  /* Partitions the width, with annotation panel and button */
    width: 98vw;
}

.div_plots_collapse-width {
    width: 68vw;
}

.div_lead {
    height: 12em;  /* Having percentages heights all the way down causes plotly graph to collapse to 0 size in update for unknown reason */
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-basis: auto;

    transition: var(--ease-all);
    border-top: var(--border);
}

.div_lead-fade > :first-child {
    border-top: none;
}

.div_lead-fade > :last-child {
    border-bottom: none;
}

.dash-graph {
    transition: var(--ease-all);
}

.div_lead > div {
    height: 100%;

    transition: var(--ease-all);
}

.div_lead-fade {
    width: 100%;
}

.div_lead-name {
    width: 5em;
    color: var(--dark-tint);
}

.lead-name {
    margin: 0.25em;
}

.div_graph-thumbnail {
    width: 100%;
    height: 7.25em;

    margin-bottom: 0.25em;
    overflow: hidden;
}

.channel-graph-thumbnail {
    height: 18em;
    /* Hack: Carefully crafted values so that the plot that made global range possible disappears */
    margin-top: -11em;
    margin-left: -0.5em;
    margin-right: -8.5em;
}

.div_graph {
    flex: 1;
    position: relative;
}

.channel-graph {
    width: 100%;
    height: 100%;
}
