#div_comments-n-tags {
    display: flex;
    flex-direction: column;
    max-width: 20em;
    height: 80vh;  /* Same as the button */
    z-index: 100;

    border-top: var(--border);
    border-right: none;
    border-bottom: var(--border);
    transition: var(--ease-all);
}

.div_comments-n-tags_expand-width {
    width: 30vw;
    opacity: 1;
    border-left: var(--border);
    box-shadow: var(--drop-shadow_s);
}

.div_comments-n-tags_collapse-width {
    width: 0;
    opacity: 0;
    border-left: none;
    box-shadow: none;
}

#div_comments-n-tags > * {
    border-top: var(--border_m);
}

#div_comments-n-tags > :first-child, #div_comments-n-tags > :nth-child(2) { /* No broder btwee 1st & 2nd child */
    border-top: none;
    /*border: 1px solid red;*/
}


#div_comment-label-time, #div_comment-label-volt {
    padding: 0 0.5em;
    margin: 0.25em 0;
}

#div_comment-label-lead {
    padding: 0 0.25em;
    margin: 0.25em 0;
}


#div_comment-edit {
    display: flex;
    flex-direction: column;

    width: 100%;
    /*height: 30%;*/
    /*min-height: 20%;*/
    /*overflow: hidden;*/

    transition: var(--ease-all);
    /*padding: 0.15em 0.15em 0;*/
    /*border: 1px red solid;*/
}

#div_comment-edit > * {
    margin-bottom: 0.25em;
}

#div_comment-edit > :last-child {
    margin-bottom: 0;
}


#div_comment-list {
    width: 100%;
    height: 30%;
    min-height: 30%;
    overflow-y: auto;

    transition: var(--ease-all);
    /*border: 1px red solid;*/
}


#div_tags {
    width: 100%;
    overflow-y: auto;

    transition: var(--ease-all);
}


.tag-block, .comment-block {
    padding: 0.25em 0.5em;
    margin: 0.125em;
}

.tag-block > *, .comment-block > * {
    margin-right: 0.5em;
}

.tag-block:active, .comment-block:active {
    background-color: #f7f7f9;
    border-color: transparent;
}

.text_tag, .text_comment {
    display: inline-block;
    margin: 0;

    font-size: 0.75em;
    color: var(--black_a6);
}
